<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<%- include('base/header'); -%>
</head>
<body>
    <%- include('base/navbar'); -%>
    <div class='jumbotron'>
      <h3>product list page</h3>
    <% products.forEach(function(product){ %>
        <div class="card card-element" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Rs <%= product.price %></li>
            </ul>
            <div class="card-body">
              <a href="/productDetail/<%= product.id %>" class="card-link">detail</a>
            </div>
          </div>   
      <% }); %>
    </div>
</body>
<%- include('base/scripts'); -%>
</html>