<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<%- include('base/header'); -%>
</head>
<body>
    <%- include('base/navbar'); -%>
    <div id='product-id' data-productid="<%= product.id %>"></div>
    <div class='row'>
        <div class=coloum>
            <div class='jumbotron card-element'>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text"><%= product.description %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Rs <%= product.price %></li>
                    </ul>
                </div> 
                <button type="button" id='delete-button' class="btn btn-danger">Delete This Product</button>
            </div>
        </div>
        <div class='coloum'>
            <h4>vendors own this product</h4>
            <div class='product-users'>
                <% product.vendors.forEach(function(vendor){ %>
                    <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= vendor.name %></h5>
                        </div>
                        <div class="card-body">
                          <a href="/vendorDetail/<%= vendor._id %>" class="card-link">detail</a>
                        </div>
                      </div>   
                  <% }); %>
            </div>
        </div>
    </div>
</body>
<%- include('base/scripts'); -%>
<script src='/js/deleteProduct.js'></script>
</html>